@page "{id:int?}"
@model FamilyRecipes.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.CreatedBy)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredients[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredients[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ingredients[0].Unit)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ingredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                </tr>
            }   
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
