@page "{searchString?}"
@model FamilyRecipes.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Family Recipes";
}
@{
    Layout = "_Layout";
}

<h2>Family Recipes</h2>

<p>
    <a asp-page="Create">New Recipe</a>
</p>

<form>
    <p>
        <select asp-for="RecipeType" asp-items="Model.Types" onchange="this.form.submit()">
            <option value="">All</option>
        </select>

        <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>

<form method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].CreatedDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RecipeID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.RecipeID">Details</a> |
                    <a class="Delete" href="javascript:;">Delete</a>
                    @Html.HiddenFor(model => item.RecipeID, new { htmlAttributes = new { @id = "RecipeID", @name = "RecipeID" } })

                    @*<a asp-page="./Index" onclick="return confirm('Are you sure you want to delete this?');"
                        asp-page-handler="Delete" asp-route-id="@item.RecipeID">Delete</a>*@

                </td>
            </tr>
        }
    </tbody>
</table>
    </form>
@section Scripts {
<script type="text/javascript">
    //Delete event handler.
    $("body").on("click", ".table .Delete", function () {
        var id = $(this).parent().find('input:hidden:first').val();
        var RequestHeader = $('input:hidden[name="__RequestVerificationToken"]').val();
        var row = $(this).closest('tr');
        $.ajax({
        async: false,
            type: "POST",
            url:"/Recipes/Index?handler=Delete",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN", RequestHeader);
            },
            data: {"id" : id },
            success: function (response) {
                row.remove();
                },
            error: function (response) {
                alert("Delete Failed!");  //
            }

        });
    });
</script>
}